*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #0275d8;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}
h1{
    font-weight: bold;
}
.btn{
    padding: 1rem 1.2rem;
    cursor: pointer;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .25);
    border-radius: 5px;
    font-weight: bold;
}
.btn-danger{
    background-color: orange;
    color: #fff;
    border: 1px solid orange;
}
.mymodal{
    position: fixed;
    top: 30%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, 0);
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    padding: 1.5rem;
    display: none;
}
.mymodal.visible{
    display: block;
    animation: fade-slide-down 0.3s ease-out forword;
}
@keyframes fade-slide-down{
    from{
        margin-top: -5rem;
    }
    to{
        margin-top: 0rem;
    }
}
.mymodal>.fas{
    position: absolute;
    right: 1rem;
    cursor: pointer;
}
#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 50%);
    display: none;
}
#backdrop.visible{
    display: block;
}